.text-center
  %h4
    A simple blog application to learn rails, docker and deployment on AWS
  = link_to 'List of articles', controller: :articles
  = link_to 'Create new article', new_article_path, class: 'ml-lg'
