<h1>Start with small wins. This might be a very simple app but it helps in understanding Rails concepts</h1>
<%= link_to 'Simple blog', controller: :articles %>
<%= link_to 'New Articles', new_article_path %>
